body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer{
    display: block;
}


.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* IE6&7 */
}


.search-bar{
	float: left;
}

.login-form{
	float: right;
}

.crop {
    width: 100px;
    height: 250px;
    overflow: hidden;
}

.crop img {
    width: 100%;
    margin: 0 0 0 0;
    border: none;
    padding: 0;
    border-radius: 0;
}

.menu-box {
	border: 1px solid #FFF;
	margin-top: 10px;
}

.restaurant_profile_canopy{

}

.restaurant_profile_avatar{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 5px #999999 solid;
}

.restaurant_profile_info{
    display: inline-block;
}

.navigation_category{
    
}