@(menuForm: Form[MenuItem])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("menu.form")){
	<h2>@Messages("menu.form")</h2>

	@helper.form(action = routes.MenuControl.save()){
		<fieldset>
			<legend>
				@Messages("menu.details", Messages("menu.new"))
			</legend>
			@helper.inputText(menuForm("id"))
			@helper.inputText(menuForm("name"))
			@helper.inputText(menuForm("category_id"))
			@helper.inputText(menuForm("price"))
			@helper.inputText(menuForm("restaurant_id"))
			@helper.inputText(menuForm("image_url"))
		</fieldset>
		<p><input type="submit" class="btn primary"
			value='@Messages("menu.new.submit")'></p>
	}
}