@(loginForm: Form[(String, String)])(implicit flash: Flash, lang: Lang)
@main(Messages("application.name")){
  <h2 class="form-signin-heading">@Messages("login.form")</h2>

  @loginForm.globalError.map { error => 
      <p class="error">
        @error.message
      </p>
  }

  @flash.get("success").map { message => 
    <p class="success">
      @message
    </p>
  }

  @helper.form(action = routes.Auth.authenticate()){

    @helper.input(loginForm("email")){ (id, name, value, args) => 
      <input type="email" name="@name" id="@id" class="form-control" placeholder="Email address" required autofocus>
    }

    @helper.input(loginForm("password")){ (id, name, value, args) => 
      <input type="password" name="@name" id="@id" class="form-control" placeholder="Password" required>
    }
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  }
}

